@media screen and (max-width: 1400px) {
	.feature-left-image{
  		width: 260px;
  		float: left;	
  	}
  	.image{
  		width: 700px;
  	}
}
@media screen and (max-width: 1300px) {
	.center{
		width: 95%;
	}
	.header-logo img{
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
	.header-search{
		width: 100%;
	}
	.header-search input{
		width: 50%;
	}
	.header-icons-wrapper{
		width: 100%;
		padding-right: 20px;
	}
	.header-icon{
		float: right;
		padding: 0 25px 0 0;
	}
	.header{
		padding-top: 1em;
	}
	.no-padding{
		padding: 0;
	}
	.lower-header-center{
		width: 100%;
	}
	.lower-header-menu ul li {
  		padding-right: 20px;
	}
	.new-arrivals-content{
		margin: 0;
  		position: absolute;
	}
	.main-header-menu-right{
		width: 100%;
		padding-top: 20px;
	}
	.main-header-menu-search input{
		width: 100%;
	}
	.main-header-menu-search input:focus{
		width: 100%;
	}
	.column-wrapper {
    	width: 90%;
  	}
  	.column-padding-right{
  		padding: 0 0 50px 30px;
  	}
  	.column-padding-right-no{
  		padding: 0 0 50px 30px;
  	}
  	.image{
  		width: 100%;
  	}
  	.image-inner-content{
		position: absolute;
  		top: 40%;
  		left: 50%;
  		transform: translate(-50%, -50%);
	}
	.sections{
		padding-top: 5080px;
	}
	.image-top-desc{
		width: 100%;
	}
	.sections-column {
    width: 100%;
  }
  .above-footer-content-column{
  	width: 100%;
  }
  .mid-column-list-right ul{
  	padding-right: 60px;
  }
  .mid-column-list-left ul{
  	padding-left: 40px;
  }
  .mid-column-topic{
  	padding-left: 30px;
  }
  .footer-content-wrapper{
  	position: relative;
  }
}
@media screen and (max-width: 500px) {
	.mid-column-list-right ul{
  		padding-right: 0px;
  	}
}
@media screen and (max-width: 390px){
	.column-padding-right{
  		padding: 0 0 50px 10px;
  	}
  	.column-padding-right-no{
  		padding: 0 0 50px 10px;
  	}
}